<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back to Users', controller: 'users' %>
